DS_Store
node_modules/
dist/
__pycache__/
npm-debug.log
yarn-error.log
output.docx
output1.docx
auth.py
HackTX2018-b8e0f745cd94.json
.~lock*



# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
__pycache__/*

